@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Montserrat:300,500,600,700,800&display=swap&subset=cyrillic-ext);

@import url(https://fonts.googleapis.com/css?family=Roboto:regular&display=swap&subset=cyrillic-ext);

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #6e105e;
  color: #eff3f5;
  font-size: 20px;
  font-weight: 500;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1334px;
  margin: 0 auto;
  padding: 0px 15px;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.header {
  max-height: 118px;
  position: fixed;
  width: 100%;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.12%, #320029), to(rgba(110, 16, 94, 0)));
  background: -o-linear-gradient(#320029 3.12%, rgba(110, 16, 94, 0) 100%);
  background: linear-gradient(#320029 3.12%, rgba(110, 16, 94, 0) 100%);
}

.header._scroll {
  max-height: 60px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #bd1c9f;
}

.header._scroll .header__logo img {
  width: 60%;
}

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  position: relative;
  z-index: 10;
}

.locale-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 5;
}

.locale-header span {
  margin: 0px 6px;
}

.locale-header__item {
  cursor: pointer;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list li {
  margin: 0px 30px 0px 0px;
}

.menu__list li:last-child {
  margin: 0;
}

.menu__link {
  color: inherit;
}

.icon-menu {
  display: none;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3.12%, rgba(110, 16, 94, 0)), to(#320029));
  background: -o-linear-gradient(top, rgba(110, 16, 94, 0) 3.12%, #320029 100%);
  background: linear-gradient(180deg, rgba(110, 16, 94, 0) 3.12%, #320029 100%);
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 30px 0px;
}

.contacts__text {
  display: block;
  margin: 0px 50px 0px 0px;
}

.contacts__text:last-child {
  margin: 0;
}

.contacts__text_l {
  color: inherit;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts__text_l:hover {
  opacity: 0.5;
}

.contacts__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__social {
  margin: 0px 15px 0px 0px;
}

.contacts__social:last-child {
  margin: 0;
}

._title {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  line-height: 122%;
  margin-bottom: 50px;
}

.bloger-card {
  margin: 0px 0px 80px 0px;
}

.bloger-card__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #eff3f5;
  border-radius: 5px;
}

.bloger-card__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
  width: 100%;
}

.bloger-card__content {
  padding: 30px 40px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 69%;
          flex: 0 1 69%;
}

.bloger-card__title {
  font-weight: 800;
  font-size: 50px;
  line-height: 122%;
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.socials-bloger-card {
  padding: 30px 0px 0px 0px;
  border-top: 1px solid #eff3f5;
  border-bottom: 1px solid #eff3f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px 0px 30px 0px;
}

.socials-bloger-card__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  margin: 0px 0px 30px 0px;
}

.socials-bloger-card__icon {
  margin: 0px 20px 0px 0px;
}

.socials-bloger-card__text {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.socials-bloger-card__text span {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.info-bloger {
  max-height: 173px;
  overflow: auto;
}

.info-bloger__title {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  margin: 0px 0px 10px 0px;
}

.info-bloger__text {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.05em;
}

.videos {
  margin: 0px 0px 50px 0px;
}

.videos__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -10px;
}

.videos__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 10px;
  margin: 0px 0px 30px 0px;
}

.videos__item {
  position: relative;
  cursor: pointer;
}

.videos__img {
  position: relative;
  padding: 0px 0px 51.6% 0px;
}

.videos__img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(110, 16, 94, 0.25);
  z-index: 2;
  -webkit-transition: background 0.4s ease 0s;
  -o-transition: background 0.4s ease 0s;
  transition: background 0.4s ease 0s;
}

.videos__img img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.videos__play {
  position: absolute;
  top: calc(50% - 22.5px);
  left: calc(50% - 22.5px);
  z-index: 3;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.4s ease 0s;
  transition: -webkit-transform 0.4s ease 0s;
  -o-transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s;
  transition: transform 0.4s ease 0s, -webkit-transform 0.4s ease 0s;
}

.slider-main__body {
  min-width: 0;
}

.controls-slider-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.controls-slider-main__arrow {
  width: 24px;
  height: 24px;
  background: url("../img/icons/eva_arrow-ios-forward-fill.svg") right no-repeat;
}

.controls-slider-main__arrow_next {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.controls-slider-main__dotts {
  margin: 0px 15px;
}

.controls-slider-main .swiper-pagination-bullets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.controls-slider-main .swiper-pagination-bullet {
  height: 2px;
  width: 109px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 109px;
          flex: 0 0 109px;
  background-color: #969696;
  border-radius: 20px;
  cursor: pointer;
}

.controls-slider-main .swiper-pagination-bullet-active {
  height: 4px;
  background-color: #eff3f5;
}

.controls-slider-main .swiper-button-disabled {
  opacity: 0.5;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 140px;
  margin: 0px 0px 50px 0px;
}

.breadcrumbs {
  margin: 0px 0px 33px 0px;
}

.breadcrumbs__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-weight: 300;
  color: inherit;
  font-size: 14px;
  line-height: 121.42857%;
}

.breadcrumbs__item:not(:last-child):after {
  content: "/";
  margin: 0px 5px;
}

.breadcrumbs__item:last-child {
  background-color: #eff3f5;
  opacity: 0.8;
  border-radius: 20px;
  padding: 2px 11px;
  color: #6e105e;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  position: relative;
  z-index: -1;
}

.blogers__title {
  text-align: center;
  font-weight: 800;
  font-size: 50px;
  line-height: 122%;
  margin: 0px 0px 50px 0px;
}

.blogers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -10px;
}

.blogers__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 10px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 50px 0px;
}

.sort__text {
  margin: 0px 40px 0px 0px;
}

.sort__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sort__item {
  position: relative;
  font-size: 16px;
}

.sort__item:not(:last-child) {
  margin: 0px 60px 0px 0px;
}

.sort__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.sort__button._active:after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.sort__button:after {
  content: "";
  background: url("../img/icons/eva_arrow-ios-forward-fill.svg") right/24px no-repeat;
  width: 24px;
  height: 24px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  margin: 0px 0px 0px 5px;
}

.sort__arrow {
  margin: 0px 0px 0px 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.sort__sub-list {
  display: none;
  font-family: "Roboto";
  padding: 10px;
  overflow: auto;
  background: rgba(255, 255, 255, 0.25);
}

.sort__sub-list span {
  display: block;
  opacity: 0.4;
  margin: 0px 0px 5px 0px;
  padding: 0px 10px;
}

.sort__sub-item {
  margin: 0px 0px 10px 0px;
  padding: 3px 10px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.sort__sub-item:last-child {
  margin: 0;
}

.item-blogers {
  display: block;
  position: relative;
  margin: 0px 0px 50px 0px;
  height: 311px;
  cursor: pointer;
}

.item-blogers__img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-blogers__img:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(189, 28, 159, 0.5);
  -webkit-transition: background 0.7s ease 0s;
  -o-transition: background 0.7s ease 0s;
  transition: background 0.7s ease 0s;
}

.item-blogers__img img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 100%;
}

.item-blogers__content {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 12px 10px 12px;
  width: 100%;
  height: 100%;
}

.item-blogers__name {
  font-weight: 700;
  font-size: 30px;
  line-height: 123.33333%;
  margin: 0px 0px 10px 0px;
  color: #eff3f5;
  -webkit-transition: opacity 0.6s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.6s ease 0s, -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s, opacity 0.6s ease 0s;
  transition: transform 0.5s ease 0s, opacity 0.6s ease 0s;
  transition: transform 0.5s ease 0s, opacity 0.6s ease 0s, -webkit-transform 0.5s ease 0s;
}

.statics-item-blogers {
  color: #eff3f5;
  font-weight: 500;
  line-height: 24px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: opacity 0.6s ease 0s, -webkit-transform 0.5s ease 0s;
  transition: opacity 0.6s ease 0s, -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s, opacity 0.6s ease 0s;
  transition: transform 0.5s ease 0s, opacity 0.6s ease 0s;
  transition: transform 0.5s ease 0s, opacity 0.6s ease 0s, -webkit-transform 0.5s ease 0s;
}

.statics-item-blogers__item {
  padding: 0px 0px 0px 34px;
  margin: 0px 0px 10px 0px;
}

.statics-item-blogers__item_youtube {
  background: url("../img/icons/youtube.svg") left no-repeat;
}

.statics-item-blogers__item_vk {
  background: url("../img/icons/vk.svg") left no-repeat;
}

.statics-item-blogers__item_insta {
  background: url("../img/icons/insta.svg") left no-repeat;
}

.blogers-loading {
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blogers-loading:before,
.blogers-loading::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #eff3f5;
}

.blogers-loading span {
  padding: 0px 66px;
}

@media (min-width: 767.98px) {
  .locale-header__item {
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }

  .locale-header__item:hover {
    opacity: 0.8;
  }

  .menu__link {
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }

  .menu__link:hover {
    opacity: 0.8;
  }

  .breadcrumbs__item {
    -webkit-transition: opacity 0.3s ease 0s;
    -o-transition: opacity 0.3s ease 0s;
    transition: opacity 0.3s ease 0s;
  }

  .breadcrumbs__item:hover {
    opacity: 0.8;
  }

  .breadcrumbs__item:last-child:hover {
    opacity: 1;
  }

  .sort__sub-list {
    max-height: 224px;
    position: absolute;
    top: 35px;
    border: 0.5px solid #000000;
    background: rgba(110, 16, 94, 0.5);
    -webkit-box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
            box-shadow: inset 0px 0px 5px 5px rgba(255, 255, 255, 0.25);
    border-radius: 12px;
    z-index: 10;
    -webkit-transform: translate(0px, 10px);
        -ms-transform: translate(0px, 10px);
            transform: translate(0px, 10px);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .sort__sub-list::-webkit-scrollbar {
    width: 0;
  }

  .sort__sub-item:hover {
    background-color: #d26600;
  }

  .item-blogers:hover .item-blogers__name {
    -webkit-transform: translate(0, -100%);
        -ms-transform: translate(0, -100%);
            transform: translate(0, -100%);
    opacity: 0;
  }

  .item-blogers:hover .item-blogers__statics {
    -webkit-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
            transform: translate(0, 100%);
    opacity: 0;
  }

  .item-blogers:hover .item-blogers__img:before {
    background: rgba(189, 28, 159, 0);
  }
}

@media (max-width: 1346px) {
  .contacts__content {
    display: block;
  }

  .contacts__text {
    margin: 0px 0px 10px 0px;
  }
}

@media (max-width: 1334px) {
  ._title {
    font-size: calc(25px + 25 * ((100vw - 320px) / 1014));
  }

  ._title {
    margin-bottom: calc(30px + 20 * ((100vw - 320px) / 1014));
  }
}

@media (max-width: 991.98px) {
  .header {
    max-height: 60px;
  }

  .header__logo img {
    width: 60%;
  }

  .locale-header__item {
    font-size: 16px;
  }

  .menu__link {
    font-size: 16px;
  }

  .bloger-card__content {
    padding: 20px;
  }

  .bloger-card__title {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
  }

  .socials-bloger-card {
    padding: 15px 0px 0px 0px;
    margin: 0px 0px 15px 0px;
  }

  .socials-bloger-card__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0px 0px 15px 0px;
  }

  .socials-bloger-card__icon {
    margin: 0px 0px 0px 0px;
  }

  .socials-bloger-card__icon img {
    max-width: 100%;
    width: 70%;
  }

  .socials-bloger-card__text {
    font-size: 16px;
    line-height: 20px;
  }

  .socials-bloger-card__text span {
    font-size: 14px;
  }

  .videos {
    margin: 0px 0px 30px 0px;
  }

  .videos__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 20px 0px;
  }

  .page {
    padding-top: 80px;
  }

  .blogers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
  }

  .item-blogers__name {
    font-size: 20px;
  }

  .statics-item-blogers {
    font-size: 16px;
    display: block;
  }
}

@media (max-width: 767.98px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    padding: 70px 15px 30px 15px;
    background-color: #bd1c9f;
    z-index: 5;
  }

  .menu:before {
    content: "";
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    background-color: #6e105e;
    z-index: 5;
  }

  .menu._active {
    left: 0;
  }

  .menu._active:before {
    left: 0;
  }

  .menu__list {
    display: block;
  }

  .menu__list li {
    margin: 0px 0px 20px 0px;
  }

  .menu__list li:last-child {
    margin: 0;
  }

  .menu__link {
    font-size: 20px;
  }

  .icon-menu {
    display: block;
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    position: absolute;
    top: calc(50% - 1px);
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #fff;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }

  .footer {
    padding: 0px 0px 15px 0px;
  }

  .footer__logo img {
    width: 60%;
  }

  .contacts__content {
    margin: 0px 0px 15px 0px;
  }

  .contacts__text {
    font-size: 16px;
  }

  .bloger-card {
    margin: 0px 0px 40px 0px;
  }

  .bloger-card__row {
    display: block;
  }

  .videos {
    margin: 0px 0px 20px 0px;
  }

  .controls-slider-main .swiper-pagination-bullet {
    width: 60px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60px;
            flex: 0 0 60px;
  }

  .blogers__title {
    margin: 0px 0px 30px 0px;
    font-size: 35px;
  }

  .blogers__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .sort {
    margin: 0px 0px 20px 0px;
    display: block;
  }

  .sort__text {
    margin: 0px 0px 15px 0px;
    text-align: center;
  }

  .sort__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .sort__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  .sort__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .item-blogers {
    margin: 0px 0px 20px 0px;
  }
}

@media (max-width: 479.98px) {
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0px auto;
  }

  .footer__logo {
    text-align: center;
  }

  .contacts__content {
    text-align: center;
  }

  .contacts__text {
    font-size: 14px;
  }

  .bloger-card__title {
    font-size: 20px;
  }

  .info-bloger__title {
    font-size: 20px;
    line-height: 25px;
  }

  .info-bloger__text {
    font-size: 14px;
    line-height: 20px;
  }

  .videos__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .controls-slider-main .swiper-pagination-bullet {
    width: 30px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
  }

  .page {
    margin: 0px 0px 30px 0px;
  }

  .blogers__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .blogers-loading span {
    padding: 0px 33px;
  }
}

@media (any-hover: hover) {
  .videos__item:hover {
    background: none;
  }

  .videos__item:hover .videos__play {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .videos__item:hover .videos__img::before {
    background: none;
  }
}
@supports (-webkit-appearance:none){
#map{background:.webpurl("../img/icons/loading.gif") center/50px no-repeat}
.controls-slider-main__arrow{background:.webpurl("../img/icons/eva_arrow-ios-forward-fill.svg") right no-repeat}
.sort__button:after{background:.webpurl("../img/icons/eva_arrow-ios-forward-fill.svg") right/24px no-repeat}
.statics-item-blogers__item_youtube{background:.webpurl("../img/icons/youtube.svg") left no-repeat}
.statics-item-blogers__item_vk{background:.webpurl("../img/icons/vk.svg") left no-repeat}
.statics-item-blogers__item_insta{background:.webpurl("../img/icons/insta.svg") left no-repeat}
}

 @media (min-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1346px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1334px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 991.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 479.98px){

@supports (-webkit-appearance:none){

}

}

 @media (any-hover: hover){

@supports (-webkit-appearance:none){

}

}
